body {
    background-color:darkslategray; 
    color: white; 
    text-align: center;
}
h3 {
    color: skyblue;
}
h4 {
    color: sandybrown;
}
h5 {
    color: orangered;
    word-spacing: 30px;
}
.para{
    word-spacing: 20px;
}
p 
{
    color: bisque;
}
button {
    background-color: lightseagreen;
    color: white;
    border: none;
    margin: auto 10px auto 10px ;
    padding: 15px 32px;
    font-size: 15px;
    font-family: inherit;
    border-radius: 4px;
    text-decoration: none;
    
}
a{
    color: orange;
    text-decoration: none;
}